# Mapowanie klawiszy konsoli na klawisze klawiatury PC (emulator).
#
# Format:  KLAWISZ_KONSOLI = KLAWISZ_PC
# Klawisze konsoli: UP DOWN LEFT RIGHT A B X Y START SELECT
#                   STICK_UP STICK_DOWN STICK_LEFT STICK_RIGHT (galka analogowa)
# Klawisze PC:      litery A-Z, cyfry 0-9, Up Down Left Right,
#                   Enter Space Tab Esc Backspace Shift Ctrl Alt,
#                   F1-F12, Comma Period Slash Semicolon Minus Plus
#
# Emulator szuka tego pliku obok pliku wykonywalnego, potem w katalogu sim/.
# Inna sciezke podaje sie tak:  console_sim.exe --keymap moje.cfg
# Linie zaczynajace sie od # sa pomijane. Brak wpisu = wartosc domyslna (ponizej).

UP     = Up
DOWN   = Down
LEFT   = Left
RIGHT  = Right

A      = Z
B      = X
X      = S
Y      = A

START  = Enter
SELECT = Backspace

# Galka analogowa. Jesli do PC podlaczony jest pad USB, jego lewa galka ma pierwszenstwo
# i daje prawdziwe wartosci analogowe; ponizsze klawisze sa awaryjne i daja wychylenie skrajne.
STICK_UP    = I
STICK_DOWN  = K
STICK_LEFT  = J
STICK_RIGHT = L

# Przyciski pada USB: numer przycisku jak w Windows ("Kontrolery gier" -> Wlasciwosci), 0 = zaden.
# Domyslnie pad Xbox: A=1 B=2 X=3 Y=4 Back=7 Start=8. Krzyzak pada zawsze dziala jak krzyzak konsoli.
# Przyklad dla pada w ukladzie Nintendo (A po prawej):  PAD_A = 2  i  PAD_B = 1
PAD_A      = 1
PAD_B      = 2
PAD_X      = 3
PAD_Y      = 4
PAD_START  = 8
PAD_SELECT = 7
