# Mapowanie klawiszy konsoli na klawisze klawiatury PC (emulator).
#
# Format:  KLAWISZ_KONSOLI = KLAWISZ_PC
# Klawisze konsoli: UP DOWN LEFT RIGHT A B X Y START SELECT
#                   STICK_UP STICK_DOWN STICK_LEFT STICK_RIGHT (galka analogowa)
# Klawisze PC:      litery A-Z, cyfry 0-9, Up Down Left Right,
#                   Enter Space Tab Esc Backspace Shift Ctrl Alt,
#                   F1-F12, Comma Period Slash Semicolon Minus Plus
#
# Emulator szuka tego pliku obok pliku wykonywalnego, potem w katalogu sim/.
# Inna sciezke podaje sie tak:  lake_sim.exe --keymap moje.cfg
# Linie zaczynajace sie od # sa pomijane. Brak wpisu = wartosc domyslna (ponizej).

UP     = Up
DOWN   = Down
LEFT   = Left
RIGHT  = Right

A      = Z
B      = X
X      = S
Y      = A

START  = Enter
SELECT = Backspace

# Galka analogowa. Jesli do PC podlaczony jest pad USB, jego lewa galka ma pierwszenstwo
# i daje prawdziwe wartosci analogowe; ponizsze klawisze sa awaryjne i daja wychylenie skrajne.
STICK_UP    = I
STICK_DOWN  = K
STICK_LEFT  = J
STICK_RIGHT = L
